<div class="container main-content-container">
  <div class="row main-content-row">
    <div class="main-content-col main-col-center">
      <h3 class="text-heading">～投稿編集フォーム～</h3>
      <%= form_with model: @post, url: update_post_draft_path, method: :patch do |f| %>
        <div>
          <span class="text-title"><%= f.label :body, "投稿内容:" %></span><br>
          <%= f.text_area :body, { class: "post-text-area" }  %>
        </div>
        <div class="acction-bottons">
          <div class="checkbox-content is-draft-checkbox-content">
            <%= f.check_box :is_draft, checked: false %>
            <%= f.label :is_draft, class: "text-label checkbox-label is-draft-label" do %>
              <span>下書きにする</span>
            <% end %>
          </div>
          <div class="submit-btn post-submit">
            <%= f.submit "編集する", class: "post-submit" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>