<div class="container">
  <div class="row">
    <div class="col-4">
      <h3 class="main-h3">投稿フォーム</h3>
      <%= form_with model: @post do |f| %>
        <div class="row">
          <%= f.label "投稿内容" %>
          <%= f.text_area :body %>
        </div>
        <div class="row">
          <%= radio_button_tag :post_is_active, "true" %>
          <%= f.label :is_active_true, "公開" %>
          <%= radio_button_tag :post_is_active, "false" %>
          <%= f.label :is_active_false, "非公開" %>
        </div>
        <div class="row">
          <%= f.submit %>
        </div>
      <% end %>
    </div>
    <div class="col-4">
      <h3 class="main-h3">投稿一覧</h3>
      <% @posts.each do |post| %>
        <%= link_to user_path(post.user.account_id) do %>
          <div class="row">
            <div class="col">
              <%= post.user.name %>
            </div>
          </div>
        <% end %>
        <%= link_to post_path(post.id) do %>
          <div class="row">
            <div class="col">
              <%= simple_format(post.body) %>
            </div>
          </div>
        <% end %>
        <div class="row">
          <div class="col">
            <p>いいねボタン</p>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-4">
      <h3 class="main-h3">ホットワード</h3>
    </div>
  </div>
</div>