<div class="container">
  <div class="row">
    <div class="col-4">
      <%= form_with model: @post do |f| %>
        <div class="row">
          <%= f.label "投稿内容" %>
          <%= f.text_area :body %>
        </div>
        <div class="row">
          <%= radio_button_tag :post_is_active, "true" %>
          <%= f.label :is_active_true, "公開" %>
          <%= radio_button_tag :post_is_active, "false" %>
          <%= f.label :is_active_false, "非公開" %>
        </div>
        <div class="row">
          <%= f.submit %>
        </div>
      <% end %>
    </div>
    <div class="col-4"></div>
  </div>
</div>