<% post_items.each do |post_item| %>
  <div class="post-row user-post-row">
    <div class="user-name">
      <span class="text-title">ユーザー名: </span>
        <%= link_to admin_user_path(post_item.user.account_id), class: "content-link-black" do %>
          <span><strong><%= post_item.user.name %></strong></span>
        <% end %>
    </div>
    <div class="user-name">
      <span class="text-title">アカウントID: </span>
      <span><%= post_item.user.account_id %></span>
    </div>
    <div>
      <span class="text-title">投稿内容:</span><br>
      <%= link_to admin_post_path(post_item.id), class: "content-link-black post-text-link" do %>
        <%= safe_join(post_item.body.split("\n").map { |line| h(line) }, tag(:br)) %>
      <% end %>
    </div>
    <div>
      <%= render "admin/favorites/post", post: post_item %>
    </div>
    <div>
      <span class="text-title">投稿日時:</span>
      <span class="history-datetime"><%= time_ago_in_words(post_item.published_at) %>前</span>
    </div>
    <div>
      <% if post_item.post_histories.present? %>
        <span class="text-title">最終更新日時:</span>
        <%= link_to admin_post_update_history_path(post_item.id), class: "history-link content-link-black" do %>
          <span class="history-datetime"><strong><%= l post_item.updated_at, format: :long %></strong></span>
        <% end %>
      <% end %>
    </div>
    <div>
      <span class="text-title">ステータス: </span>
      <% if post_item.is_hidden %>
        <span class="user-inactive"><strong><%= post_item.status %></strong></span>
      <% else %>
        <span class="user-active"><strong><%= post_item.status %></strong></span>
      <% end %>
    </div>
  </div>
<% end %>
<%= paginate post_items %>