<div class="post-row">
  <div class="user-name">
    <span class="text-title">ユーザー名: </span>
    <%= link_to user_path(comment.user.account_id), class: "content-link-black" do %>
      <span><strong><%= comment.user.name %></strong></span>
    <% end %>
  </div>
  <div class="user-name">
    <span class="text-title">アカウントID: </span>
    <span><%= comment.user.account_id %></span>
  </div>
  <div>
    <span class="text-title">投稿内容:</span><br>
    <%= content_tag :div, class: "content-link-black post-text" do %>
      <%= safe_join(comment.body.split("\n").map { |line| h(line) }, tag(:br)) %>
    <% end %>
  </div>
  <div>
    <%= render "public/favorites/comment_btn", comment: comment %>
  </div>
  <div>
    <span class="text-title">投稿日時:</span>
    <span class="history-datetime"><%= l comment.created_at, format: :long %></span>
  </div>
  <div class="post-history-content">
    <% if comment.comment_histories.present? %>
      <span class="text-title">最終更新日時:</span>
      <%= link_to comment_update_history_path(comment.id), class: "history-link content-link-black" do %>
        <span class="history-datetime"><strong><%= l comment.updated_at, format: :long %></strong></span>
      <% end %>
    <% end %>
  </div>
</div>
<% if comment.user.id == current_user.id %>
  <div class="edit-delete-container">
    <%= link_to edit_comment_path(comment.id), class: "edit-link" do %>
      <span>編集画面へ </span>
      <i class="fa-solid fa-arrow-right"></i>
    <% end %>
    <%= button_to "削除する", comment_path(comment.id), { method: :delete, "form_class": "delete-btn-form" } %>
  </div>
<% end %>