<div class="post-row">
  <div class="user-name">
    <span class="text-title">ユーザー名: </span>
    <%= link_to user_path(post.user.account_id), class: "content-link-black" do %>
      <span><strong><%= post.user.name %></strong></span>
    <% end %>
  </div>
  <div class="user-name">
    <span class="text-title">アカウントID: </span>
    <span><%= post.user.account_id %></span>
  </div>
  <div>
    <span class="text-title">投稿内容:</span><br>
    <%= content_tag :div, class: "post-text" do %>
      <%= safe_join(post.body.split("\n").map { |line| h(line) }, tag(:br)) %>
    <% end %>
  </div>
  <div>
    <%= render "public/favorites/post_btn", post: post %>
  </div>
  <div>
    <span class="text-title">投稿日時:</span>
    <span class="history-datetime"><%= l post.published_at, format: :long %></span>
  </div>
  <div class="post-history-content">
    <% if @post.post_histories.present? %>
      <span class="text-title">最終更新日時:</span>
      <%= link_to post_update_history_path(post.id), class: "history-link content-link-black" do %>
        <span class="history-datetime"><strong><%= l post.updated_at, format: :long %></strong></span>
      <% end %>
    <% end %>
  </div>
</div>
<% if @post.user.id == current_user.id %>
  <div class="edit-delete-container">
    <%= link_to edit_post_path(post.id), class: "edit-link" do %>
      <span>編集画面へ </span>
      <i class="fa-solid fa-arrow-right"></i>
    <% end %>
    <%= button_to "削除する", post_path(post.id), data: {confirm: "投稿を削除しますか？"}, method: :delete, "form_class": "delete-btn-form" %>
  </div>
<% end %>