<%= form_with model: post do |f| %>
  <div>
    <span class="text-title"><%= f.label :body, "投稿内容:" %></span>
    <% if post.errors[:body].any? %>
      <div class="error-container">
        <p class="error-message">・<%= post.errors.full_messages_for(:body).first %></p>
      </div>
    <% end %>
    <%= f.text_area :body, { class: "post-text-area", required: true, maxlength: 1000 }  %>
  </div>
  <div class="acction-bottons">
    <div class="submit-btn post-submit">
      <%= f.submit "編集する", class: "post-submit" %>
    </div>
  </div>
<% end %>