<div class="container main-content-container">
  <div class="row main-content-row">
    <!--メイン左側-->
    <div class="main-content-col main-col-side">
      <h3 class="text-heading">～ユーザー詳細～</h3>
      <div class="post-row">
        <div class="user-name">
          <span class="text-title">ユーザー名: </span>
          <span><%= @user.name %></span>
        </div>
        <div class="user-name">
          <span class="text-title">アカウントID: </span>
          <span><%= @user.account_id %></span>
        </div>
        <div>
          <span class="text-title">紹介文:</span><br>
          <% if @user.introduction.present? %>
            <%= content_tag :div, class: "content-link-black post-text" do %>
              <%= safe_join(@user.introduction.split("\n").map { |line| h(line) }, tag(:br)) %>
            <% end %>
          <% end %>
        </div>
        <% if @user.account_id == current_user.account_id %>
          <div>
            <%= link_to edit_user_path(@user.account_id), class: "edit-link" do %>
              <span>プロフィール編集画面へ </span>
              <i class="fa-solid fa-arrow-right"></i>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <!--メイン中央-->
    <div class="main-content-col main-col-center">
      <h3 class="main-h3"><%= @user.name %>の投稿一覧・いいね一覧</h3>
      <!--選択タブ-->
      <div class="post-favorite-tabs">
        <div class="user-tab tab-active">
          <span>投稿一覧</span>
        </div>
        <div class="user-tab">
          <span>コメント一覧</span>
        </div>
        <div class="user-tab">
          <span>投稿いいね一覧</span>
        </div>
        <div class="user-tab">
          <span>コメントいいね一覧</span>
        </div>
      </div>
      <!--タブで選択した要素-->
      <div class="tabbox-contents">
        <div class="tabbox box-show">
          <%= render "public/users/user_posts", user_posts: @user_posts %>
        </div>
        <div class="tabbox">
          <%= render "public/users/user_comments", user_comments: @user_comments %>
        </div>
        <div class="tabbox">
          <%= render "public/users/user_favorite_posts", favorite_posts: @favorite_posts %>
        </div>
      </div>
    </div>
    <!--メイン右側-->
    <div class="main-content-col main-col-side">
      <h3 class="main-h3">投稿詳細</h3>
      <p>部分テンプレート</p>
      <p>wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww</p>
    </div>
  </div>
</div>