<header>
  <nav class="header-items">
    <h2><%= link_to "つなゲ～ム", root_path, class: "header-logo" %></h2>
    <%= link_to "ユーザー一覧", admin_users_path, class: "header-item nav-timeline" %>
    <%= link_to "投稿一覧", admin_posts_path, class: "header-item nav-posts" %>
    <%= link_to "コメント一覧", admin_comments_path, class: "header-item nav-search" %>
    <div id="hm-icon">
      <%= link_to "#", class: "menu-trigger" do %>
        <span></span>
        <span></span>
        <span></span>
      <% end %>
    </div>
  </nav>
  <nav class="admin-sp-menu" id="sp-menu">
    <ul>
      <%= link_to admin_search_path do %>
        <li>検索</li>
      <% end %>
      <%= link_to destroy_admin_session_path, method: :delete do %>
        <li>ログアウト</li>
      <% end %>
    </ul>
  </nav>
</header>